[submodule "libs/trueblocks-sdk"]
	path = libs/trueblocks-sdk
	url = https://github.com/TrueBlocks/trueblocks-sdk.git
[submodule "libs/trueblocks-dalle"]
	path = libs/trueblocks-dalle
	url = https://github.com/TrueBlocks/trueblocks-dalle.git
[submodule "explorer"]
	path = explorer
	url = git@github.com:TrueBlocks/trueblocks-explorer.git
[submodule "dev-tools/create-local-app"]
	path = dev-tools/create-local-app
	url = https://github.com/TrueBlocks/create-local-app.git
[submodule "dalleserver"]
	path = dalleserver
	url = https://github.com/TrueBlocks/trueblocks-dalleserver.git
	branch = main
[submodule "dalledress"]
	path = dalledress
	url = https://github.com/TrueBlocks/trueblocks-dalledress.git
	branch = main
[submodule "approvals"]
	path = approvals
	url = git@github.com:TrueBlocks/trueblocks-approvals.git
[submodule "dev-tools/goMaker"]
	path = dev-tools/goMaker
	url = git@github.com:TrueBlocks/goMaker.git
[submodule "chifra"]
	path = chifra
	url = https://github.com/TrueBlocks/trueblocks-chifra.git
